<div class="flex-container" id="myHeader" >
  <div class="app-logo">
    <img src="./../../assets/images/logo.png" alt="Open logo" class="logo-img">
  </div>
  <!-- <div class=""> -->
    <ul class="nav-items">
      <li *ngFor="let category of categories" class="nav-item">
        <a href="#" class="nav-item_name">{{category}}</a>
      </li>
    </ul>
  <!-- </div> -->
  <div class="button-container">
    <button class="btn login-btn">Login</button>
    <button class="btn start-btn">Get Started</button>
  </div>
</div>
