<section class="base-section">
  <div class="blob-img">
    <img src="./../../assets/images/circle.svg" alt="circle" class="circle">
  </div>
  <div class="blob-img-left">
    <img src="./../../assets/images/blob-small.svg" alt="blob small" class="blob-small">
  </div>
  <div class="flex-container">
    <div class="small-container">
      <h1 class="section-header">We make it Super Simple</h1>
      <div class="border border-style "></div>
      <div class="image-container">
        <img id="video" src="./../../assets/images/collect_img-video.png" alt="video" class="video_img">
        <img id="dots" src="./../../assets/images/accounting_dots.svg" alt="dots" class="dots_img">
      </div>
    </div>
    <div>
      <app-calculator></app-calculator>
    </div>
  </div>

</section>